table {
    width: 100%;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
}
table tbody tr td th {
    border: 1px solid;
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-style: solid;
    border-color: black;
  }
  table, th, td {
    border: 1px solid;
  }
  th, td {
    text-align: center;
  }